<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="MonkeyRunnerPath" value="C:\ANDROID\sdk\tools\" />
    <add key="Testcases" value="C:\Automation\MusicAutomationProjects\BarracudaGUI\NewTestcases\TestSettings.csv" />
    <add key="DefaultXMLFileName" value="" />
    <add key="DefaultImageFolderPath" value="" />
    <add key="tcpdumpSource" value="/sdcard" />
    <add key="tcpdumpDestination" value="C:\Automation\MusicAutomationProjects\TcpDump" />
    <add key="WhiteListPath" value="C:\Automation\MusicAutomationProjects\BarracudaGUI\bin\Debug\whitelist.txt" />
    <add key="TSharkPath" value="C:\Program Files (x86)\Wireshark\tshark.exe" />
    <add key="EmailReceipts" value="mchen@denaliai.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>